body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
    background: #7f152e;
}
.header { /* Верхний блок */
    background: #d61800; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}
.filter { /* Левая колонка */
    float: left; /* Обтекание справа */
    background: #edae01; /* Цвет фона */
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 20%; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */
}
.content { /* Правая колонка */
    margin: 10px 5px 20px 25%; /* Значения отступов */
    background: #e94f08; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */
}
.footer { /* Нижний блок */
    background: #ba5536; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: left; /* Отменяем действие float */
}
