body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
    height: 1250px;
    /* background: #7f152e;*/

 }
 .header { /* Верхний блок */
     /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}
.filter { /* Левая колонка */
    float: left; /* Обтекание справа */
    background: #edae01; /* Цвет фона */
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 20%; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */
}

.footer { /* Нижний блок */
     /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: left; /* Отменяем действие float */
}
#backgr{
    height: 1250px;
    background: url("img/back2.jpg") center no-repeat;
    background-size: cover;
}

#nav a{
    margin: 10px;
    text-decoration: none;
    opacity: .60;
    transition: all 0.5s linear;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
#nav a:hover{
    opacity: 1;
    box-shadow:  5px 5px 5px 5px black;
}
#myScroll{
    height: 1000px;
    padding-top: 30px;
}
#myCheckbox {
    width:3vw;
    height:3vw;
    margin-top: 5px;
}
#myInput{
    background: linear-gradient(#800000, #000000);
    color: white;
    padding: 5px 0 5px 10px;
    border: 1px solid white;
    border-radius: 20px;
}
#myInputAnsw{
    background-color: #2e312c;

    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}
